*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #091921;
    min-height: 100vh;
}
.clock{
    height: 350px;
    width: 350px;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: url("clock.png");
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 -10px 19px rebeccapurple;
    border: 4px solid #091921;
}
.clock::before{
    content: '';
    width: 10px;
    height: 10px;
    margin: auto;
    background: white;
    border-radius: 50%;
    z-index: 3;
}
.hour, .min, .sec{
    width: 50%;
    height: 8px;
    /* background: black; */
    position: absolute;
    transform-origin: 100%;
    transform: rotate(90deg);
}
.hr{
    height: 8px;
    width: 50%;
    position: absolute;
    right: 0;
    background: #ff105e;
    border-radius: 6px;
   
}
.mn{
    width: 70%;
    height: 6px;
    top: 16%;
    background: blue;
    position: absolute;
    right: 0;
    border-radius: 6px;
}
.sc{
    height: 3px;
    top: 32%;
    width: 85%;
    position: absolute;
    right: 0;
    background: black;
    border-radius: 5px;
}